<!-- gif-side-menu-header -->
<div id="logo" class="my-4 px-6">
  <h1 class="text-lg md:text-2xl font-bold text-white">{{ envs.companyName }}<span class="text-blue-500">{{
      envs.companyName2 }}</span>.</h1>
  <p class="text-slate-500 text-sm">{{ envs.companySlogan }}</p>
</div>
<div id="profile" class="px-6 py-10">
  <p class="text-slate-500">BIENVENIDO</p>
  <a href="#" class="inline-flex space-x-2 items-center">
    <span>
      <img class="rounded-full w-8 h-8"
        src="https://scontent.fmex27-1.fna.fbcdn.net/v/t39.30808-6/559413375_4274292349471280_904617495947875993_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeExAIPSDskjmh_lU8t_YVY8xbf8VV4crl_Ft_xVXhyuX0xLmQFCeQ-v1N-ym1YDQcilW4q6KhoGbiJF7B_Yl4bE&_nc_ohc=lBpij_fOFX8Q7kNvwEJpr17&_nc_oc=AdmjdVlgphWxOJawwZQP1J9FdS0zCIdPHIy7wO2Cx7sDrILfuId3NS66aSM-98kGHwHV-vznuFpXPJbbXlVPOCHH&_nc_zt=23&_nc_ht=scontent.fmex27-1.fna&_nc_gid=MjRHUaMvcjgTf2T7E-oE3w&oh=00_AfqjgH05SK0JkU0oktz48FNbAuCrszn8RggcBn86_3JYoQ&oe=6975DEC0"
        alt="">
    </span>
    <span class="text-sm md:text-base font-bold">
      JUAN DOMINGUEZ
    </span>
  </a>
</div>
<!-- -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
